![image.png]()

**Missing Values:**

---

In [ ]:
import pandas as pd

df = pd.read_csv('/content/lab5.csv')

new_df = df.dropna()

print(new_df)

    Unnamed: 0  Duration          Date  Pulse  Maxpulse  Calories
0            0        60  '2020/12/01'    110       130     409.1
1            2        60  '2020/12/03'    103       135     340.0
2            3        45  '2020/12/04'    109       175     282.4
3            4        45  '2020/12/05'    117       148     406.0
4            5        60  '2020/12/06'    102       127     300.0
5            6        60  '2020/12/07'    110       136     374.0
6            7       450  '2020/12/08'    104       134     253.3
7            8        30  '2020/12/09'    109       133     195.1
8            9        60  '2020/12/10'     98       124     269.0
9           10        60  '2020/12/11'    103       147     329.3
10          11        60  '2020/12/12'    100       120     250.7
11          12        60  '2020/12/12'    100       120     250.7
12          13        60  '2020/12/13'    106       128     345.3
13          14        60  '2020/12/14'    104       132     379.3
14          15        60  '2020/12/15'     98       123     275.0
15          16        60  '2020/12/16'     98       120     215.2
16          17        60  '2020/12/17'    100       120     300.0
18          19        60  '2020/12/19'    103       123     323.0
19          20        45  '2020/12/20'     97       125     243.0
20          21        60  '2020/12/21'    108       131     364.2
22          23        60  '2020/12/23'    130       101     300.0
23          24        45  '2020/12/24'    105       132     246.0
24          25        60  '2020/12/25'    102       126     334.5
25          26        60    26/12/2020    100       120     250.0
26          27        60  '2020/12/27'     92       118     241.0
28          29        60  '2020/12/29'    100       132     280.0
29          30        60  '2020/12/30'    102       129     380.3
30          31        60  '2020/12/31'     92       115     243.0

By default, the dropna() method returns a new DataFrame, and will not change the original.

If you want to **change the original DataFrame**, use the **inplace = True** argument

In [ ]:
import pandas as pd

df = pd.read_csv('/content/lab5.csv')

df.dropna(inplace = True)

print(df)

    Unnamed: 0  Duration          Date  Pulse  Maxpulse  Calories
0            0        60  '2020/12/01'    110       130     409.1
1            2        60  '2020/12/03'    103       135     340.0
2            3        45  '2020/12/04'    109       175     282.4
3            4        45  '2020/12/05'    117       148     406.0
4            5        60  '2020/12/06'    102       127     300.0
5            6        60  '2020/12/07'    110       136     374.0
6            7       450  '2020/12/08'    104       134     253.3
7            8        30  '2020/12/09'    109       133     195.1
8            9        60  '2020/12/10'     98       124     269.0
9           10        60  '2020/12/11'    103       147     329.3
10          11        60  '2020/12/12'    100       120     250.7
11          12        60  '2020/12/12'    100       120     250.7
12          13        60  '2020/12/13'    106       128     345.3
13          14        60  '2020/12/14'    104       132     379.3
14          15        60  '2020/12/15'     98       123     275.0
15          16        60  '2020/12/16'     98       120     215.2
16          17        60  '2020/12/17'    100       120     300.0
18          19        60  '2020/12/19'    103       123     323.0
19          20        45  '2020/12/20'     97       125     243.0
20          21        60  '2020/12/21'    108       131     364.2
22          23        60  '2020/12/23'    130       101     300.0
23          24        45  '2020/12/24'    105       132     246.0
24          25        60  '2020/12/25'    102       126     334.5
25          26        60    26/12/2020    100       120     250.0
26          27        60  '2020/12/27'     92       118     241.0
28          29        60  '2020/12/29'    100       132     280.0
29          30        60  '2020/12/30'    102       129     380.3
30          31        60  '2020/12/31'     92       115     243.0

**Replace Using certain value**

In [ ]:
import pandas as pd

df = pd.read_csv('/content/lab5.csv')

df.fillna(130, inplace = True)

In [ ]:
import pandas as pd

df = pd.read_csv('/content/lab5.csv')

df["Calories"].fillna(130, inplace = True)

**Replace Using Mean, Median, or Mode**

In [ ]:
import pandas as pd

df = pd.read_csv('/content/lab5.csv')

x = df["Calories"].mean()

#x = df["Calories"].mode()

#x = df["Calories"].median()

df["Calories"].fillna(x)

**Convert the wrong Format**



Pandas has a to_datetime() method for this:

In [ ]:
import pandas as pd

df = pd.read_csv('/content/lab5.csv')

df['Date'] = pd.to_datetime(df['Date'])

print(df)

    Unnamed: 0  Duration       Date  Pulse  Maxpulse  Calories
0            0        60 2020-12-01    110       130     409.1
1            2        60 2020-12-03    103       135     340.0
2            3        45 2020-12-04    109       175     282.4
3            4        45 2020-12-05    117       148     406.0
4            5        60 2020-12-06    102       127     300.0
5            6        60 2020-12-07    110       136     374.0
6            7       450 2020-12-08    104       134     253.3
7            8        30 2020-12-09    109       133     195.1
8            9        60 2020-12-10     98       124     269.0
9           10        60 2020-12-11    103       147     329.3
10          11        60 2020-12-12    100       120     250.7
11          12        60 2020-12-12    100       120     250.7
12          13        60 2020-12-13    106       128     345.3
13          14        60 2020-12-14    104       132     379.3
14          15        60 2020-12-15     98       123     275.0
15          16        60 2020-12-16     98       120     215.2
16          17        60 2020-12-17    100       120     300.0
17          18        45 2020-12-18     90       112       NaN
18          19        60 2020-12-19    103       123     323.0
19          20        45 2020-12-20     97       125     243.0
20          21        60 2020-12-21    108       131     364.2
21          22        45        NaT    100       119     282.0
22          23        60 2020-12-23    130       101     300.0
23          24        45 2020-12-24    105       132     246.0
24          25        60 2020-12-25    102       126     334.5
25          26        60 2020-12-26    100       120     250.0
26          27        60 2020-12-27     92       118     241.0
27          28        60 2020-12-28    103       132       NaN
28          29        60 2020-12-29    100       132     280.0
29          30        60 2020-12-30    102       129     380.3
30          31        60 2020-12-31     92       115     243.0

<ipython-input-7-ef23f8f2a42b>:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])

 **row 26 was fixed**, but the empty date in **row 22 got a NaT (Not a Time)** value

Remove Rows with null values in Date column

In [ ]:
 df.dropna(subset=['Date'])

    Unnamed: 0  Duration       Date  Pulse  Maxpulse  Calories
0            0        60 2020-12-01    110       130     409.1
1            2        60 2020-12-03    103       135     340.0
2            3        45 2020-12-04    109       175     282.4
3            4        45 2020-12-05    117       148     406.0
4            5        60 2020-12-06    102       127     300.0
5            6        60 2020-12-07    110       136     374.0
6            7       450 2020-12-08    104       134     253.3
7            8        30 2020-12-09    109       133     195.1
8            9        60 2020-12-10     98       124     269.0
9           10        60 2020-12-11    103       147     329.3
10          11        60 2020-12-12    100       120     250.7
11          12        60 2020-12-12    100       120     250.7
12          13        60 2020-12-13    106       128     345.3
13          14        60 2020-12-14    104       132     379.3
14          15        60 2020-12-15     98       123     275.0
15          16        60 2020-12-16     98       120     215.2
16          17        60 2020-12-17    100       120     300.0
17          18        45 2020-12-18     90       112       NaN
18          19        60 2020-12-19    103       123     323.0
19          20        45 2020-12-20     97       125     243.0
20          21        60 2020-12-21    108       131     364.2
22          23        60 2020-12-23    130       101     300.0
23          24        45 2020-12-24    105       132     246.0
24          25        60 2020-12-25    102       126     334.5
25          26        60 2020-12-26    100       120     250.0
26          27        60 2020-12-27     92       118     241.0
27          28        60 2020-12-28    103       132       NaN
28          29        60 2020-12-29    100       132     280.0
29          30        60 2020-12-30    102       129     380.3
30          31        60 2020-12-31     92       115     243.0

Did you find that there is a value in duration cloumn (row 7) that has inconsistant data (duration = 450)? we have to replace it with suitable value

In [ ]:
## set duration = 45
 df.loc[7, 'Duration'] = 45
 ## or to have loop to change any value in a range
 for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120
## remove record
  for x in df.index:
    if df.loc[x, "Duration"] > 120:
      df.drop(x, inplace = True)

**Duplicated values**

In [ ]:
 print(df.duplicated())
 df.drop_duplicates

**Label Encoding:**

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
data = {'Fruit': ['Apple', 'Banana', 'Orange', 'Apple', 'Banana', 'Orange'],
        'Color': ['Red', 'Yellow', 'Orange', 'Green', 'Yellow', 'Orange'],
        'Price': [0.5, 0.25, 0.3, 0.6, 0.35, 0.4],
        'Weight': [100, 120, 80, 110, 130, 90]}

df = pd.DataFrame(data)

print(df)

    Fruit   Color  Price  Weight
0   Apple     Red   0.50     100
1  Banana  Yellow   0.25     120
2  Orange  Orange   0.30      80
3   Apple   Green   0.60     110
4  Banana  Yellow   0.35     130
5  Orange  Orange   0.40      90

In [ ]:
le = LabelEncoder()

df['Fruit'] = le.fit_transform(df['Fruit'])
df['Color'] = le.fit_transform(df['Color'])

print(df)

   Fruit  Color  Price  Weight
0      0      2   0.50     100
1      1      3   0.25     120
2      2      1   0.30      80
3      0      0   0.60     110
4      1      3   0.35     130
5      2      1   0.40      90

In [ ]:
data1 = {'Fruit': ['Apple', 'Banana', 'Orange', 'Apple', 'Banana', 'Orange'],
        'Color': ['Red', 'Yellow', 'Orange', 'Green', 'Yellow', 'Orange'],
        'Price': [0.5, 0.25, 0.3, 0.6, 0.35, 0.4],
        'Weight': [100, 120, 80, 110, 130, 90]}

# Create a new DataFrame using the dictionary 'data'
df1 = pd.DataFrame(data1)
print(df1)

    Fruit   Color  Price  Weight
0   Apple     Red   0.50     100
1  Banana  Yellow   0.25     120
2  Orange  Orange   0.30      80
3   Apple   Green   0.60     110
4  Banana  Yellow   0.35     130
5  Orange  Orange   0.40      90

In [ ]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder

# create a union of categories for both 'Fruit' and 'Color'
categories = np.union1d(df['Fruit'].unique(), df['Color'].unique())

# instantiate OneHotEncoder with the union of categories
onehot = OneHotEncoder(categories=[categories])

# fit and transform 'Fruit' column
onehot_fruit = pd.DataFrame(onehot.fit_transform(df[['Fruit']]).toarray(),
                             columns=[f'fruit_{i}' for i in categories])

# fit and transform 'Color' column
onehot_color = pd.DataFrame(onehot.fit_transform(df[['Color']]).toarray(),
                             columns=[f'color_{i}' for i in categories])

# concatenate the original DataFrame with the one-hot encoded columns
df = pd.concat([df, onehot_fruit, onehot_color], axis=1)

# drop the original 'Fruit' and 'Color' columns
df = df.drop(['Fruit', 'Color'], axis=1)

print(df)

   Price  Weight  fruit_0  fruit_1  fruit_2  fruit_3  color_0  color_1  \
0   0.50     100      1.0      0.0      0.0      0.0      0.0      0.0
1   0.25     120      0.0      1.0      0.0      0.0      0.0      0.0
2   0.30      80      0.0      0.0      1.0      0.0      0.0      1.0
3   0.60     110      1.0      0.0      0.0      0.0      1.0      0.0
4   0.35     130      0.0      1.0      0.0      0.0      0.0      0.0
5   0.40      90      0.0      0.0      1.0      0.0      0.0      1.0

   color_2  color_3
0      1.0      0.0
1      0.0      1.0
2      0.0      0.0
3      0.0      0.0
4      0.0      1.0
5      0.0      0.0

**Rescale label attribute**

In [ ]:
import numpy as np
from sklearn.preprocessing import StandardScaler
dataset = np.array([1.0, 2.0, 3.0, 3.0, 3.0, 2.0, 1.0]).reshape(-1, 1)
scaler = StandardScaler()
scaler.fit(dataset)
standardized_dataset = scaler.transform(dataset)
print(dataset)
print(standardized_dataset)
#print(np.mean(standardized_dataset))
#print(np.std(standardized_dataset))

[[1.]
 [2.]
 [3.]
 [3.]
 [3.]
 [2.]
 [1.]]
[[-1.37198868]
 [-0.17149859]
 [ 1.02899151]
 [ 1.02899151]
 [ 1.02899151]
 [-0.17149859]
 [-1.37198868]]

In [ ]:
import pandas as pd

df1 = pd.read_csv('/content/lab5.csv')
df2 = pd.read_csv('/content/lab5 - Copy.csv')
#df1.append(df2)
df1=pd. concat([df1, df2])

print(df1)

    Unnamed: 0  Duration          Date  Pulse  Maxpulse  Calories
0            0        60  '2020/12/01'    110       130     409.1
1            2        60  '2020/12/03'    103       135     340.0
2            3        45  '2020/12/04'    109       175     282.4
3            4        45  '2020/12/05'    117       148     406.0
4            5        60  '2020/12/06'    102       127     300.0
..         ...       ...           ...    ...       ...       ...
26          27        60  '2020/12/27'     92       118     241.0
27          28        60  '2020/12/28'    103       132       NaN
28          29        60  '2020/12/29'    100       132     280.0
29          30        60  '2020/12/30'    102       129     380.3
30          31        60  '2020/12/31'     92       115     243.0

[62 rows x 6 columns]

In [ ]:
# Importing pandas as pd
import pandas as pd

# Creating the first Dataframe using dictionary
df1 = pd.DataFrame({"a":[1, 2, 3, 4],
                    "b":[5, 6, 7, 8]})

# Creating the Second Dataframe using dictionary
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7],
                    "c":[1, 5, 4]})

# for appending df2 at the end of df1
#df1 = df1.append(df2)

df1=pd. concat([df1, df2])
df1

   a  b    c
0  1  5  NaN
1  2  6  NaN
2  3  7  NaN
3  4  8  NaN
0  1  5  1.0
1  2  6  5.0
2  3  7  4.0

**Data Validation:**

In [ ]:

import pandera as pa
from pandera import Column, DataFrameSchema, Check, Index
boat_sales_df = pd.read_csv('/content/boat_sales.csv',encoding='utf-8')

schema = pa.DataFrameSchema(
    {
        "Price": Column(int),
        "Currency": Column(str, Check.isin(["CHF", "EUR", "DKK", ""])),
        "Boat Type": Column(str),
        "Year Built": Column(int, Check.in_range(1950, 2022), coerce=True),
        "Length": Column(float, Check.in_range(0.5, 110.0)),
        "Number of views last 7 days": Column(int, Check(lambda x: 0 <= x < 3500)),
    },
    # unique=["Id"],
)

validated_df = schema(boat_sales_df)
print(validated_df)

SchemaError: Column 'Year Built' failed element-wise validator number 0: in_range(1950, 2022) failure cases: 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1941, 0, 0, 0, 0, 1940, 0, 0, 1913, 0, 0, 0, 1948, 0, 0, 0, 0, 0, 0, 0, 0, 1930, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1937, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1909, 0, 0, 0, 0, 0, 0, 1926, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1910, 0, 1938, 0, 0, 0, 0, 0, 1936, 0, 0, 1903, 0, 0, 0, 0, 0, 0, 0, 1933, 1906, 0, 0, 0, 1908, 0, 1927, 0, 0, 0, 1927, 0, 0, 0, 0, 0, 0, 0, 1929, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1913, 0, 0, 0, 0, 0, 0, 1922, 1922, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1929, 0, 1928, 0, 1903, 0, 1905, 1910, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1911, 0, 0, 1928, 1915, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1934, 0, 1903, 1939, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1910, 0, 1928, 0, 0, 1924, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1922, 0, 0, 1910, 0, 0, 0, 0, 1924, 0, 1931, 1930, 0, 0, 0, 0, 1910, 0, 1920, 0, 1933, 0, 0, 0, 0, 0, 0, 0, 1906, 1905, 1910, 0, 0, 0, 0, 0, 0, 1922, 0, 1929, 1911, 0, 1909, 1898, 1910, 1909, 0, 0, 1930, 0, 1907, 0, 0, 1885, 0, 0, 1922, 0, 0, 1895, 1911, 0, 1910, 0, 1940, 0, 0, 0, 0, 1914, 0, 0, 0, 0, 1901, 0, 0, 0, 0, 0, 1942, 0, 0, 1920, 1919, 0, 0, 1925, 0, 0, 0, 0, 0, 0, 1925, 0, 1907, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1920, 1889, 0, 0, 0, 0, 0, 0, 0, 0, 1911, 1922, 1910, 0, 1901, 0, 0, 0, 0, 0, 0, 1946, 0, 0, 0, 0, 1919, 1925, 1939, 0, 0, 0, 1927, 0, 0, 1925, 1904, 0, 0, 1923, 1927, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1923, 0, 1917, 0, 1935, 0, 0, 0, 0, 0, 0, 1949, 0, 1940, 1947, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1936, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1901, 1948, 1919, 1949, 1923, 1907, 1907, 1930, 1930, 1933, 0, 0, 0, 0, 0, 1948, 1948, 0, 0, 0, 0, 0, 0, 1926, 0, 0, 0, 0, 0, 1912, 0, 0, 0, 0, 0, 0, 1922, 0, 0, 0, 1936, 0, 0, 0, 0, 1906, 1908, 0, 0, 0, 1936, 1919, 1924, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1938, 1915, 0, 0, 0, 0, 1948, 0, 0, 0, 0, 0, 0, 0, 0, 1910, 1928, 1926, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1905, 0, 0, 0, 0, 0, 1925, 1926, 0, 0, 1936, 0, 0, 1945, 1934, 0, 0, 0, 0, 1897, 0, 0, 0, 0, 1934, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1902, 1900, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1926, 0, 1930, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1920, 0, 0, 0, 0, 0, 0, 0, 0

If you use the default DataFrameSchema.validate method, you may get a very long error message from which it can be quite difficult to ascertain an understanding of the underlying issue.
To work around this, you can set lazy=True in validate, and use a try-except to catch any SchemaErrors exceptions; you can then pull out the failure cases from the exception into a DataFrame for better readability.

In [ ]:
try:
    schema.validate(boat_sales_df, lazy=True)
except pa.errors.SchemaErrors as exc:
    failure_cases_df = exc.failure_cases
    display(exc.failure_cases)

,schema_context,column,check,check_number,failure_case,index
0,Column,Year Built,"in_range(1950, 2022)",0,0,2
465,Column,Year Built,"in_range(1950, 2022)",0,1919,7946
457,Column,Year Built,"in_range(1950, 2022)",0,0,7837
458,Column,Year Built,"in_range(1950, 2022)",0,0,7846
459,Column,Year Built,"in_range(1950, 2022)",0,0,7847
...,...,...,...,...,...,...
231,Column,Year Built,"in_range(1950, 2022)",0,0,3907
232,Column,Year Built,"in_range(1950, 2022)",0,1903,3913
233,Column,Year Built,"in_range(1950, 2022)",0,1939,3934
234,Column,Year Built,"in_range(1950, 2022)",0,0,3974
691,Column,Number of views last 7 days,<lambda>,0,"ValueError(""The truth value of a Series is amb...",None

Schema inference is a function that scans your data and generates a DataFrameSchema with some basic checks; this is intended to provide a starting point for you to tailor and further develop.

In [ ]:
#!pip install pandera[io]

import pandera as pa
from pandera import Column, DataFrameSchema, Check, Index
boat_sales_df = pd.read_csv('/content/boat_data.csv')
inferred_schema = pa.infer_schema(boat_sales_df).to_script()
print(inferred_schema)

from pandera import DataFrameSchema, Column, Check, Index, MultiIndex

schema = DataFrameSchema(
    columns={
        "Price": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Boat Type": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Manufacturer": Column(
            dtype="object",
            checks=None,
            nullable=True,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Type": Column(
            dtype="object",
            checks=None,
            nullable=True,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Year Built": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=0.0),
                Check.less_than_or_equal_to(max_value=2021.0),
            ],
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Length": Column(
            dtype="float64",
            checks=[
                Check.greater_than_or_equal_to(min_value=1.04),
                Check.less_than_or_equal_to(max_value=100.0),
            ],
            nullable=True,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Width": Column(
            dtype="float64",
            checks=[
                Check.greater_than_or_equal_to(min_value=0.01),
                Check.less_than_or_equal_to(max_value=25.16),
            ],
            nullable=True,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Material": Column(
            dtype="object",
            checks=None,
            nullable=True,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Location": Column(
            dtype="object",
            checks=None,
            nullable=True,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "Number of views last 7 days": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(min_value=13.0),
                Check.less_than_or_equal_to(max_value=3263.0),
            ],
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
    },
    checks=None,
    index=Index(
        dtype="int64",
        checks=[
            Check.greater_than_or_equal_to(min_value=0.0),
            Check.less_than_or_equal_to(max_value=9887.0),
        ],
        nullable=False,
        coerce=False,
        name=None,
        description=None,
        title=None,
    ),
    dtype=None,
    coerce=True,
    strict=False,
    name=None,
    ordered=False,
    unique=None,
    report_duplicates="all",
    unique_column_names=False,
    add_missing_columns=False,
    title=None,
    description=None,
)

In [ ]:
#!pip install Cerberus
from cerberus import Validator
import pandas as pd

from cerberus import Validator
import pandas as pd

dfvalid = pd.DataFrame({"ID": [1, 2, 3],
                        "Age": [19, 26, 57],
                        "Name": ["Sama", "Mohamed", "Rasha"]})

v = Validator()
v.schema = {'Name': {'type': 'string', 'minlength': 5},
            'Age': {'type': 'integer', 'min': 18, 'max': 65},
            'ID': {'required': True, 'type': 'number'}}

for _, row in dfvalid.iterrows():
    if v.validate(row.to_dict()):
        print(f"Data for row {row.name} is valid")
    else:
        print(f"Data for row {row.name} is invalid")
        print(v.errors)

Data for row 0 is invalid
{'Name': ['min length is 5']}
Data for row 1 is valid
Data for row 2 is valid